.custom-width-card {
	width: 300px;
	height: 80px;

	&:hover {
		cursor: pointer;
		box-shadow: 2px 9px 15px #ccc;
	}
}

.content {
	display: flex;
	gap: 11px;
	align-items: center;

	&:hover {
		cursor: pointer;
		color: #0149be;
	}
}

.text {
	font-size: 20px;
}
