@import '../../../styles/main.scss';

.custom-width-card {
	width: 348px;
	height: 83px;

	&:hover {
		cursor: pointer;
		box-shadow: 2px 9px 15px $gray-6;
	}
}

.content {
	display: flex;
	gap: 11px;
	align-items: center;

	img {
		width: 60px;
		height: 60px;
		filter: grayscale(1) contrast(1) brightness(1);
		&:hover {
			cursor: pointer;
			filter: grayscale(0) contrast(1) brightness(1) hue-rotate(180deg);
		}
	}

	&:hover {
		cursor: pointer;
		color: $macro-blue !important;
	}
}

.text {
	font-size: 20px;
}
